name: Keep Workflows alive

on:
  schedule:
    - cron: "0 0 1 * *" # every 1st of the month
  push:
    branches:
      - 'main'

jobs:
  keepalive-job:
    name: Keepalive Workflow
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@v4
      - name: Re-enable workflow
        env:
          GITHUB_TOKEN: ${{ inputs.GITHUB_TOKEN || github.token }}
        shell: sh
        run: |
          case "${GITHUB_WORKFLOW_REF:?}" in
            "${GITHUB_REPOSITORY:?}"/.github/workflows/*.y*ml@*) ;;
            *) false ;;
          esac
          workflow="${GITHUB_WORKFLOW_REF%%@*}"
          workflow="${workflow#${GITHUB_REPOSITORY}/.github/workflows/}"
          gh api -X PUT "repos/${GITHUB_REPOSITORY}/actions/workflows/${workflow}/enable"